<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Page</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti asperiores quasi eaque temporibus vel a? 
        Adipisci eligendi voluptates Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Molestiae, <nam class="lorem10">Lorem Ipsum10
         </nam>
        nesciunt non quo reiciendis illo reprehenderit, voluptas vero, quia, perspiciatis commodi id.</p>
</body>
</html>